.MyServices {
  height: 650px;
  background-color: #f2f3f4;
}

.title {
  margin-top: -20px;
  position: relative;
  padding-top: 20px;
  text-align: center;
  font-weight: 800;
}

.borderBottom {
  grid-area: s;
  position: relative;
  bottom: 30px;
  width: 100px;
  border-bottom: 2px solid rgb(158, 113, 14);
  margin: 0 auto;
}

.gridBlockDiv {
  margin-top: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 50px;
}

@media (max-width: 1300px) {
  .gridBlockDiv {
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0 auto;
  }
  .MyServices {
    height: 900px;
  }
}

@media (max-width: 1220px) {
  .gridBlockDiv {
    grid-template-columns: 2fr 2fr;
    grid-gap: 25px;
    margin-left: 270px;
    margin-right: 300px;
  }
  .MyServices {
    height: 1100px;
  }
}
@media (max-width: 950px) {
  .gridBlockDiv {
    grid-template-columns: 2fr;
    margin: 0 auto;
  }
  .MyServices {
    height: 2100px;
  }
}

.gridBlockDiv p {
  font-weight: 600;
  font-size: 18px;
}

.gridBlockDiv img {
  filter: drop-shadow(0px 0px 20px rgba(24, 23, 22, 0.7));
  width: 200px;
  border-radius: 20px;
  height: 200px;
}

.gridBlockDiv div:hover {
  transition: 0.6s ease-in-out;
  transform: translateY(20px);
  color: lightsalmon;
}

.gridBlockDiv div:hover p {
  font-size: 20px;
}

@media (max-width: 700px) {
  .gridBlockDiv:hover {
    transition: none;
    transform: none;
  }
  .gridBlockDiv div:hover {
    transition: none;
    transform: none;
  }
  .gridBlockDiv div:hover p {
    font-size: 18px;
    color: black;
  }
  .gridBlockDiv img {
    filter: none;
  }
}
