.Prices {
  grid-area: p;
  background-color: #f6d7c7;
  border-radius: 50px;
  background-size: 100%;
  padding: 10px 0;
  position: relative;
}

.title {
  text-align: center;
  font-size: 28px;
}

.borderBottom {
  position: relative;
  bottom: 30px;
  width: 100px;
  border-bottom: 2px solid rgb(158, 113, 14);
  margin: 0 auto;
}

.priceBlock {
  position: relative;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  padding: 20px;
  background-image: url(/public/img/bg3.jpg);
  filter: drop-shadow(0px 0px 40px rgba(114, 68, 16, 0.877));
  border: 0px;
}

.Prices::before {
  content: '';
  top: 0;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #f6d7c7;
  z-index: -1;
  background-color: #f2f3f4;
}

@media (max-width: 1000px) {
  .priceBlock {
    transform: none !important;
  }
}

@media (max-width: 400px) {
  .priceBlock {
    width: 350px;
  }
}

.priceBlock:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 40px rgba(114, 68, 16, 0.877));
  transition: 0.5s ease-in-out;
  border: 0px;
  transform: scale(1.1);
}

.services ul {
  margin-top: 50px;
  text-align: center;
}

.services li , .price li{
  margin-bottom: 40px;
  font-weight: 600;
  list-style: none;
}

.price {
  position: relative;
  margin-left: 50px;
}

.price li {
  border-bottom: 1px solid black;
}

h2 {
  margin-bottom: 40px;
}

.services {
  text-align: left;
}

.services li {
  border-bottom: 1px solid black;
}
